* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Rubik" sans-serif;
}
body {
    /* max-width: 1800px; */
}
.navbar {
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  /* max-width: 2099px; */
}
.logo {
  padding: 20px 10px;
  font-size: 2.4rem;
}
.nav-icon {
  font-size: 14px;
  margin-bottom: 10px;
  color: #000;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 10px;
}
.icon-nav {
  vertical-align: middle;
  color: #000;
  background-color: #fff;
  border-radius: 15px;
  padding: 2px 2px;
  margin-left: 8px;
}
.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
}
.main-nav-link {
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  color: #333;
}
  .btn-primary {
  background-color: #00a0fa;
  color: #fff;
  border: none;
  padding: 20px 28px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #00a0fa;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 150px 8% 80px;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}
/* .hero-text {
  max-width: 50%;
} */
.hero-description {
  margin-top: 150px;
  margin-bottom: 70px;
  font-size: 80px;
  line-height: 1.2;
  font-weight: 700;
  color: #111;
  top: 100%;
}
.hero-description .highlight {
  color: #00a0fa;
  font-weight: 600;
}
.texts-note {
  color: #555;
  margin-top: 20px;
  line-height: 1.6;
  font-size: 20px;
}
.cbn-img {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px; 
   /* margin-top: 30px;  */
}
.main-img {
  display: flex;
  position: absolute;
  align-items: center;
  top: 20%;
  left: 50%;
  margin-left: 10px;
   margin-top: 20px;
  
}
.hero-img {
  margin-top: 20px;
  width: 100%;
}
 .more-info {
  padding: 40px 8% 80px;
  background-color: #fff; 
 }  
.partners {
  font-size: 30px;
  font-weight: 700;
  color: #222;
  margin-top: 200px; 
}
.img-list {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 50px;
  margin-top: 10px;
}
.lorem {
  display: flex;
  margin-top: 30px;
  padding: 20px 28px;
}
/* LOANS SECTION */
.loan-section {
  padding: 80px 8% 80px;
  border-radius: 40px;
  background-color: #00a0fa;
  color: #fff;
}
.loan-header {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  /* max-width: 800px; */
}
.header-texts {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
.header-description {
  display: flex;
}
.loan-texts {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
}
.subtext {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 50vh;
}
.loans-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 20px;
  width: 100%;
  /* height: 100px; */
  box-sizing: border-box;
}
.loan-img {
  width: 100%;
  height: 200px;
  /* object-fit: cover; */
}

.test{
    height: 70vh;
}

.test img {
    height: 100%;
}
.loan-text {
      padding: 20px;
  margin-top: -35vh;
}
.loan-text h2 {
  font-size: 40px;
  font-weight: 800;
  /* padding-right: 50px; */
}
.loan-text p {
  margin-bottom: 30px;
}

.btn {
  background: transparent;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  transition: background 0.3s, color 0.3s;
  /* transform: translate(-50px, -20px); */

  
}

.btn:hover {
  background-color: #fff;
}
.icon-loan {
  vertical-align: middle;
  padding: 2px 2px;
  margin-left: 8px;
}
.sec-3 {
  margin-top: 200px;
  overflow: hidden;
}
.special {
  padding: 20px 50px; 
  font-weight: 800;
  font-size: 50px;
}
.special-note {
  display: flex;
   justify-content: space-between;
   align-items: center;
}
.special-note p {
  padding: 20px 50px;
  font-weight: 500;
}
.bbn {
  margin-right: 300px;
  border: 2px solid #00a0fa;
  color: #00a0fa;
  text-decoration: none;
  border-radius: 25px;
  font-size: 15px;
  padding: 10px 10px;
}
.pos-img {
  padding-left: 48px;
 
}
